!!!
%html
  %head
    %title Insert / Upload
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_include_tag 'effective_assets'
    = javascript_include_tag 'effective_assets_iframe'
    = stylesheet_link_tag 'effective_assets_iframe'
    = csrf_meta_tags

  %body
    = simple_form_for @user_uploads, :url => '/' do |f|
      = f.input :uploads, :as => :asset_box, :label => false, :uploader => :top, :uploader_drop_files => true, :attachment_style => :table, :table_filter_bar => true, :attachment_actions => [:insert, :delete], :attachment_add_to => :top, :file_types => (@file_types || :any), :aws_acl => (@aws_acl || 'public-read')
