- attachable_type ||= attachment.attachable_type.titleize.gsub(" ", "_").gsub('/', '_').downcase
- uid = (attachment.persisted? ? attachment.id : Time.now.to_f.to_s.split('.')[1] + Random.rand(10000).to_s)
- hidden ||= false

%tr.attachment{:style => "#{(attachment.marked_for_destruction? || hidden) ? 'display: none;' : ''}", :title => effective_asset_title(attachment.asset)}
  %td.attachment-title
    = link_to attachment.asset.title, attachment.asset.url, :target => '_blank'
  %td.attachment-type
    = attachment.asset.content_type
  %td.attachment-size
    = number_to_human_size(attachment.asset.data_size)
  %td
    %a.attachment-remove{:href => '#'}
      %img{:src => asset_path('effective_assets/icon_close.png'), :alt => 'Delete'}
    - if attachment.persisted?
      = hidden_field_tag("#{attachable_type}[attachments_attributes][#{uid}][id]", attachment.id)
    = hidden_field_tag("#{attachable_type}[attachments_attributes][#{uid}][asset_id]", attachment.asset_id)
    = hidden_field_tag("#{attachable_type}[attachments_attributes][#{uid}][box]", attachment.box)
    = hidden_field_tag("#{attachable_type}[attachments_attributes][#{uid}][_destroy]", attachment.marked_for_destruction? ? 1 : nil, :class => 'asset-box-remove')
