- uid = (attachment.persisted? ? attachment.id : Time.now.to_f.to_s.split('.')[1] + Random.rand(10000).to_s)
- hidden ||= false

.col-sm-3.attachment
  .thumbnail{:style => "#{(attachment.marked_for_destruction? || hidden) ? 'display: none;' : ''}", :title => effective_asset_title(attachment.asset)}
    = effective_asset_image_tag(attachment.asset)

    .attachment-title.caption
      - if attachment_links
        = link_to attachment.asset.title, attachment.asset.url, :target => '_blank'
      - else
        = attachment.asset.title

    - if attachment_actions.include?('remove')
      %a.attachment-remove{:href => '#'}
        %img{:src => asset_path('effective_assets/icon_close.png'), :alt => 'Remove'}

    - if attachment.persisted?
      = hidden_field_tag("#{attachable_object_name}[attachments_attributes][#{uid}][id]", attachment.id)
    = hidden_field_tag("#{attachable_object_name}[attachments_attributes][#{uid}][asset_id]", attachment.asset_id)
    = hidden_field_tag("#{attachable_object_name}[attachments_attributes][#{uid}][box]", attachment.box)
    = hidden_field_tag("#{attachable_object_name}[attachments_attributes][#{uid}][_destroy]", attachment.marked_for_destruction? ? 1 : nil, :class => 'asset-box-remove')
    = hidden_field_tag("#{attachable_object_name}[attachments_attributes][#{uid}][position]", 1)
