.uploads
.asset-box-uploader{id: "s3_#{uid}", class: ('drop-files' if drop_files), 'data-input-js-options': s3_uploader_input_js_options(limit: limit, file_types: file_types) }
  = s3_uploader_fields(aws_acl: aws_acl)

  - if drop_files
    %p= drop_files_help_text

  %span.btn.btn-default.fileinput-button
    %i.glyphicon.glyphicon-upload
    %span= btn_label
    - if limit > 1
      - if required
        %input.asset-box-uploader-fileinput{type: 'file', name: 'file', id: uid, multiple: 'multiple', disabled: disabled, required: true}
      - else
        %input.asset-box-uploader-fileinput{type: 'file', name: 'file', id: uid, multiple: 'multiple', disabled: disabled}
    - else
      - if required
        %input.asset-box-uploader-fileinput{type: 'file', name: 'file', id: uid, disabled: disabled, required: true}
      - else
        %input.asset-box-uploader-fileinput{type: 'file', name: 'file', id: uid, disabled: disabled}

  = render :partial => progress_bar_partial
